<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Route</title>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="route-settings" style="margin-left:1rem;">
      <label class="switch">
        <input id="showDetails" type="checkbox" onclick="drawRoute()">
      </label> 
      Show route details
    </div>
    <div id="map" style="width: 650px; height: 600px;margin:auto"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      
      mapboxgl.accessToken =
        "pk.eyJ1IjoidmltYWxhdGhpdGhhbjE3IiwiYSI6ImNsa2RzY2hsOTBrNHczZXU4bjdicGp6dzQifQ.LHJNOtYjJu4mwyGY2045CQ";
        const myAPIKey =
"d0f637b5187e487196dd3d9504742ecf";
        let style1='mapbox://styles/mapbox/streets-v12'
        const map = new mapboxgl.Map({
        container: "map",
        style: style1,
        center: ['{{from_.lon|escapejs}}','{{from_.lat|escapejs}}'],
        zoom: 14,
      });
      map.addControl(new mapboxgl.NavigationControl());

      const popup = new mapboxgl.Popup();

      // calculate and display routing:
      // from 38.937165,-77.045590 (1208 Hourglass Drive, Stowe, VT 05672, United States of America)
      const fromWaypoint = ['{{from_.lon|escapejs}}','{{from_.lat|escapejs}}']; // longitude, latutude
      const fromWaypointMarker = new mapboxgl.Marker()
        .setLngLat(fromWaypoint)
        .setPopup(
          new mapboxgl.Popup().setText(
            "1208 Hourglass Drive, Stowe, VT 05672, United States of America"
          )
        )
        .addTo(map);

      // to 38.881152,-76.990693 (Switchback, Stowe, VT 05672-5111, United States of America)
      const toWaypoint = ['{{to_.lon|escapejs}}','{{to_.lat|escapejs}}']; // longitude, latutude
      const toWaypointMarker = new mapboxgl.Marker()
        .setLngLat(toWaypoint)
        .setPopup(
          new mapboxgl.Popup().setText(
            "Switchback, Stowe, VT 05672-5111, United States of America"
          )
        )
        .addTo(map);

      let routeData;
      let routeStepsData;
      let instructionsData;
      let stepPointsData;

      fetch(
        `https://api.geoapify.com/v1/routing?waypoints=lonlat:${fromWaypoint.join(
          ","
        )}|lonlat:${toWaypoint.join(
          ","
        )}&mode=hike&details=route_details,elevation&apiKey=${myAPIKey}`
      )
        .then((res) => res.json())
        .then(
          (routeResult) => {
            routeData = routeResult;
            const steps = [];
            const instructions = [];
            const stepPoints = [];

            routeData.features[0].properties.legs.forEach((leg, legIndex) => {
              const legGeometry =
                routeData.features[0].geometry.coordinates[legIndex];
              leg.steps.forEach((step, index) => {
                if (step.instruction) {
                  instructions.push({
                    type: "Feature",
                    geometry: {
                      type: "Point",
                      coordinates: legGeometry[step.from_index],
                    },
                    properties: {
                      text: step.instruction.text,
                    },
                  });
                }

                if (index !== 0) {
                  stepPoints.push({
                    type: "Feature",
                    geometry: {
                      type: "Point",
                      coordinates: legGeometry[step.from_index],
                    },
                    properties: step,
                  });
                }

                if (step.from_index === step.to_index) {
                  // destination point
                  return;
                }

                const stepGeometry = legGeometry.slice(
                  step.from_index,
                  step.to_index + 1
                );
                steps.push({
                  type: "Feature",
                  geometry: {
                    type: "LineString",
                    coordinates: stepGeometry,
                  },
                  properties: step,
                });
              });
            });

            routeStepsData = {
              type: "FeatureCollection",
              features: steps,
            };

            instructionsData = {
              type: "FeatureCollection",
              features: instructions,
            };

            stepPointsData = {
              type: "FeatureCollection",
              features: stepPoints,
            };

            map.addSource("route", {
              type: "geojson",
              data: routeData,
            });

            map.addSource("points", {
              type: "geojson",
              data: instructionsData,
            });

            addLayerEvents();
            drawRoute();
          },
          (err) => console.log(err)
        );

      function drawRoute() {
        if (!routeData) {
          return;
        }

        if (map.getLayer("route-layer")) {
          map.removeLayer("route-layer");
        }

        if (map.getLayer("points-layer")) {
          map.removeLayer("points-layer");
        }

        if (document.getElementById("showDetails").checked) {
          map.getSource("route").setData(routeStepsData);
          map.addLayer({
            id: "route-layer",
            type: "line",
            source: "route",
            layout: {
              "line-join": "round",
              "line-cap": "round",
            },
            paint: {
              "line-color": [
                "match",
                ["get", "road_class"],
                "motorway",
                "#009933",
                "trunk",
                "#00cc99",
                "primary",
                "#009999",
                "secondary",
                "#00ccff",
                "tertiary",
                "#9999ff",
                "residential",
                "#9933ff",
                "service_other",
                "#ffcc66",
                "unclassified",
                "#666699",
                /* other */
                "#666699",
              ],
              "line-width": 8,
            },
          });

          map.getSource("points").setData(stepPointsData);
          map.addLayer({
            id: "points-layer",
            type: "circle",
            source: "points",
            paint: {
              "circle-radius": 4,
              "circle-color": "#ddd",
              "circle-stroke-color": "#aaa",
              "circle-stroke-width": 1,
            },
          });
        } else {
          map.getSource("route").setData(routeData);
          map.addLayer({
            id: "route-layer",
            type: "line",
            source: "route",
            layout: {
              "line-cap": "round",
              "line-join": "round",
            },
            paint: {
              "line-color": "#6084eb",
              "line-width": 8,
            },
            filter: ["==", "$type", "LineString"],
          });

          map.getSource("points").setData(instructionsData);
          map.addLayer({
            id: "points-layer",
            type: "circle",
            source: "points",
            paint: {
              "circle-radius": 4,
              "circle-color": "#fff",
              "circle-stroke-color": "#aaa",
              "circle-stroke-width": 1,
            },
          });
        }
      }

      function addLayerEvents() {
        map.on("mouseenter", "route-layer", () => {
          map.getCanvas().style.cursor = "pointer";
        });

        map.on("mouseleave", "route-layer", () => {
          map.getCanvas().style.cursor = "";
        });

        map.on("mouseenter", "points-layer", () => {
          map.getCanvas().style.cursor = "pointer";
        });

        map.on("mouseleave", "points-layer", () => {
          map.getCanvas().style.cursor = "";
        });

        map.on("click", "route-layer", (e) => {
          if (document.getElementById("showDetails").checked) {
            const stepData = e.features[0].properties;
            const propertiesToShow = ["surface", "elevation", "elevation_gain"];
            const dataToShow = {};
            propertiesToShow.forEach((property) => {
              if (stepData[property] || stepData[property] === 0) {
                dataToShow[property] = stepData[property];
              }
            });

            showPopup(dataToShow, e.lngLat);
          } else {
            showPopup(
              {
                distance: `${e.features[0].properties.distance} m`,
                time: `${e.features[0].properties.time} s`,
              },
              e.lngLat
            );
          }
          e.preventDefault();
        });

        map.on("click", "points-layer", (e) => {
          const properties = e.features[0].properties;
          const point = e.features[0].geometry.coordinates;

          if (properties.text) {
            popup.setText(properties.text);
            popup.setLngLat(point);
            popup.addTo(map);
            e.preventDefault();
          }
        });
      }

      function showPopup(data, lngLat) {
        let popupHtml = Object.keys(data)
          .map((key) => {
            return `<div class="popup-property-container">
    					<span class="popup-property-label">${key}: </span>
              <span class="popup-property-value">${data[key]}</span>
            </div>`;
          })
          .join("");

        popup.setLngLat(lngLat).setHTML(popupHtml).addTo(map);
      }
    </script>
  </body>
</html>
